@import 'tailwindcss';
@theme {
  --font-sans: var(--font-plex), system-ui, sans-serif;
  --font-grotesk: var(--font-spaceGrotesk), system-ui, sans-serif;
  --font-display: var(--font-clash), system-ui, sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}
.text-noise {
  position: relative;
  display: inline-block;
  color: #f5672d; /* your base color */
}

.text-noise::after {
  content: attr(data-text); /* print the same text again */
  position: absolute;
  inset: 0;
  background: url('/images/noise.png') repeat;
  background-size: 120px 120px;
  /* clip the noise to the text */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0.6; /* adjust like Figma 0.4 */
  pointer-events: none;
}
.noise-text {
  z-index: 0;
}
