@import "tailwindcss";
@theme {
  --font-sans: var(--font-plex), system-ui, sans-serif;
  --font-gilda: var(--font-gilda), system-ui, sans-serif;
  --font-display: var(--font-clash), system-ui, sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f0f0;
    --foreground: #131313;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-visible::-webkit-scrollbar {
  height: 12px !important;
  display: block !important;
}

.scrollbar-visible::-webkit-scrollbar-track {
  background: #c8c8c8 !important;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background: #1b1b1b !important;
  border-radius: 5px;
}

.scrollbar-visible::-webkit-scrollbar-thumb:hover {
  background: #000 !important;
}

.scrollbar-visible {
  scrollbar-width: auto !important;
  scrollbar-color: #1b1b1b #c8c8c8 !important;
}
