@import "tailwindcss";
@theme {
  --font-sans: var(--font-plex), system-ui, sans-serif;
  --font-grotesk: var(--font-spaceGrotesk), system-ui, sans-serif;
  --font-display: var(--font-clash), system-ui, sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.scrollbar-visible::-webkit-scrollbar {
  height: 10px;
}

.scrollbar-visible::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background: rgba(245, 103, 45, 0.8);
  border-radius: 6px;
}

.scrollbar-visible {
  scrollbar-color: rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.08);
  scrollbar-width: auto;
}
